body {
    margin: 40px auto;
    max-width: 900px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
}

pre {
    background-color: #f0f0f0;
    padding: 1em;
}

code, samp {
    font-size: 0.8em;
}

/* Make the SVG badges clickable. */
object {
    pointer-events: none;
}

img {
    max-width: 100%;
}
